[submodule "EmployeeSystemBackend"]
	path = EmployeeSystemBackend
	url = https://github.com/shubhankarKr/EmployeeSystemBackend.git
[submodule "EmployeeSystemFrontend"]
	path = EmployeeSystemFrontend
	url = https://github.com/shubhankarKr/EmployeeSystemFrontend.git
